* {
    box-sizing: border-box;
}

:root {
    --border-radius: .3rem;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
}

main {
    margin: 20px auto;
    width: 95%;
}

.hero {
    padding: 3% 4%;
    background-image: linear-gradient(to right, blue , purple);
    color: white;
    text-align: center;
}


.btn {
    font-size: 1rem;
    text-decoration:none;
    padding: 6px 5px;
    width: 100%;
    margin: 5px 0;
    border-radius: var(--border-radius);
    box-shadow: 3px 3px darkblue;
};

.future-weather {
    width: 100;
}

.hidden {
    display: none;
}

#search-history {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

#search-history li {
    border-radius: var(--border-radius);
}

#search-history li:hover {
    background-color: #1585e7; 
    color: white;
}

.card-body {
    text-align: center;
}

/* UV Index Colors */

.low {
    background-color: rgb(29, 136, 29);
    color: white;
    font-size: bold;
    padding: 10px;
}

.moderate {
    background-color: rgb(230, 233, 52);
    color: white;
    font-size: bold;
    padding: 10px;
}

.high {
    background-color: rgb(214, 69, 44);
    color: white;
    font-size: bold;
    padding: 10px;
}

.extreme {
    background-color: rgb(115, 52, 233);
    color: white;
    font-size: bold;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    #search-history {
        display: none;
    }
}



